@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$color-primary: #40005d;
$color-background: #4b4b4b;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #3a3a3a;

$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$font-general: 'Noto Sans', sans-serif;
